<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:jee="http://www.springframework.org/schema/jee"
	   xmlns:jaxws="http://cxf.apache.org/jaxws"
	   xsi:schemaLocation="
			http://www.springframework.org/schema/beans classpath:/org/springframework/beans/factory/xml/spring-beans-3.0.xsd
			http://www.springframework.org/schema/aop classpath:/org/springframework/aop/config/spring-aop-3.0.xsd
			http://www.springframework.org/schema/tx classpath:/org/springframework/transaction/config/spring-tx-3.0.xsd
			http://www.springframework.org/schema/jee classpath:/org/springframework/ejb/config/spring-jee-3.0.xsd">

	
	
	
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="get*" read-only="true"/>
			<tx:method name="load*" read-only="true"/>
			<tx:method name="*" read-only="false" rollback-for="java.lang.Exception"/>
		</tx:attributes>
	</tx:advice>
	
	<aop:config>
		<aop:pointcut id="bsTxPointcut" expression="execution(* com.mrprez.gencross.web.bs.*.*(..))"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="bsTxPointcut"/>
	</aop:config>
	<aop:config>
		<aop:pointcut id="daoTxPointcut" expression="execution(* com.mrprez.gencross.web.dao.*.*(..))"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="daoTxPointcut"/>
	</aop:config>
	
	
	<jee:jndi-lookup id="genCrossDataSource" jndi-name="java:comp/env/jdbc/GenCrossDB"/>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="genCrossDataSource"/>
		<property name="mappingResources">
			<list>
				<value>gencross-mapping.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<value>
				hibernate.show_sql=true
				hibernate.autoReconnect=true
			</value>
		</property>
	</bean>

	<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	
	
	<!-- ********** -->
	<!-- Couche Web -->
	<!-- ********** -->
	<bean id="personnageListAction" class="com.mrprez.gencross.web.action.PersonnageListAction" scope="prototype">
		<property name="personnageBS" ref="personnageBS"/>
		<property name="gcrFileBS" ref="gcrFileBS"/>
	</bean>
	
	<bean id="attributeGameMasterAction" class="com.mrprez.gencross.web.action.AttributeGameMasterAction" scope="prototype">
		<property name="personnageBS" ref="personnageBS"/>
		<property name="authentificationBS" ref="authentificationBS"/>
	</bean>
	
	<bean id="attributePlayerAction" class="com.mrprez.gencross.web.action.AttributePlayerAction" scope="prototype">
		<property name="personnageBS" ref="personnageBS"/>
		<property name="authentificationBS" ref="authentificationBS"/>
	</bean>
	
	<bean id="backgroundAction" class="com.mrprez.gencross.web.action.BackgroundAction" scope="prototype">
		<property name="personnageBS" ref="personnageBS"/>
		<property name="tableBS" ref="tableBS"/>
	</bean>
	
	<bean id="changeMailAction" class="com.mrprez.gencross.web.action.ChangeMailAction" scope="prototype">
		<property name="authentificationBS" ref="authentificationBS"/>
	</bean>
	
	<bean id="changePasswordAction" class="com.mrprez.gencross.web.action.ChangePasswordAction" scope="prototype">
		<property name="authentificationBS" ref="authentificationBS"/>
	</bean>
	
	<bean id="createPersonnageAction" class="com.mrprez.gencross.web.action.CreatePersonnageAction" scope="prototype">
		<property name="personnageBS" ref="personnageBS"/>
		<property name="authentificationBS" ref="authentificationBS"/>
	</bean>
	
	<bean id="downloadAction" class="com.mrprez.gencross.web.action.DownloadAction" scope="prototype">
		<property name="gencrossUiPackagerBS" ref="gencrossUiPackagerBS"/>
	</bean>
	
	<bean id="editPersonnageAction" class="com.mrprez.gencross.web.action.EditPersonnageAction" scope="prototype">
		<property name="personnageBS" ref="personnageBS"/>
		<property name="tableBS" ref="tableBS"/>
	</bean>
	
	<bean id="tableMessageAntiSamyPolicy" class="org.owasp.validator.html.Policy" factory-method="getInstance" scope="singleton">
		<constructor-arg value="classpath:antisamy.xml"/>
	</bean>
	<bean id="tableMessageAntiSamy" class="org.owasp.validator.html.AntiSamy" scope="singleton">
		<constructor-arg ref="tableMessageAntiSamyPolicy"/>
	</bean>
	<bean id="editTableAction" class="com.mrprez.gencross.web.action.EditTableAction" scope="prototype">
		<property name="personnageBS" ref="personnageBS"/>
		<property name="tableBS" ref="tableBS"/>
		<property name="adminBS" ref="adminBS"/>
		<property name="antiSamy" ref="tableMessageAntiSamy"/>
	</bean>
	
	<bean id="exceptionAction" class="com.mrprez.gencross.web.action.ExceptionAction" scope="prototype"></bean>
	
	<bean id="exportAction" class="com.mrprez.gencross.web.action.ExportAction" scope="prototype">
		<property name="exportBS" ref="exportBS"/>
		<property name="personnageBS" ref="personnageBS"/>
	</bean>
	
	<bean id="forgottenPasswordAction" class="com.mrprez.gencross.web.action.ForgottenPasswordAction" scope="prototype">
		<property name="authentificationBS" ref="authentificationBS"/>
	</bean>
	
	<bean id="helpFileAction" class="com.mrprez.gencross.web.action.HelpFileAction" scope="prototype"></bean>
	
	<bean id="jobProcessingAction" class="com.mrprez.gencross.web.action.JobProcessingAction" scope="prototype">
		<property name="jobBS" ref="jobBS"/>
	</bean>
	
	<bean id="listUserAction" class="com.mrprez.gencross.web.action.ListUserAction" scope="prototype">
		<property name="authentificationBS" ref="authentificationBS"/>
	</bean>
	
	<bean id="loggerAction" class="com.mrprez.gencross.web.action.LoggerAction" scope="prototype">
		<property name="loggerBS" ref="loggerBS"/>
	</bean>
	
	<bean id="loginAction" class="com.mrprez.gencross.web.action.LoginAction" scope="prototype">
		<property name="authentificationBS" ref="authentificationBS"/>
	</bean>
	
	<bean id="multiExportAction" class="com.mrprez.gencross.web.action.MultiExportAction" scope="prototype">
		<property name="tableBS" ref="tableBS"/>
		<property name="exportBS" ref="exportBS"/>
	</bean>
	
	<bean id="paramsAction" class="com.mrprez.gencross.web.action.ParamsAction" scope="prototype">
		<property name="paramsBS" ref="paramsBS"/>
	</bean>
	
	<bean id="planGameAction" class="com.mrprez.gencross.web.action.PlanGameAction" scope="prototype">
		<property name="planGameBS" ref="planGameBS"/>
		<property name="tableBS" ref="tableBS"/>
	</bean>
	
	<bean id="subscriptionAction" class="com.mrprez.gencross.web.action.SubscriptionAction" scope="prototype">
		<property name="authentificationBS" ref="authentificationBS"/>
	</bean>
	
	<bean id="tableListAction" class="com.mrprez.gencross.web.action.TableListAction" scope="prototype">
		<property name="tableBS" ref="tableBS"/>
		<property name="personnageBS" ref="personnageBS"/>
	</bean>
	
	<bean id="tablePointsPoolsAction" class="com.mrprez.gencross.web.action.TablePointsPoolsAction" scope="prototype">
		<property name="tableBS" ref="tableBS"/>
	</bean>
	
	<bean id="uploadAction" class="com.mrprez.gencross.web.action.UploadAction" scope="prototype">
		<property name="personnageBS" ref="personnageBS"/>
		<property name="gcrFileBS" ref="gcrFileBS"/>
	</bean>
	
	<bean id="editPersonnageAjaxAction" class="com.mrprez.gencross.web.action.dwr.EditPersonnageAjaxAction" scope="prototype">
		<property name="personnageBS" ref="personnageBS"/>
		<property name="personnageComparatorBS" ref="personnageComparatorBS"/>
	</bean>
	
	<bean id="planGameAjaxAction" class="com.mrprez.gencross.web.action.dwr.PlanGameAjaxAction" scope="prototype">
		<property name="planGameBS" ref="planGameBS"/>
	</bean>
	
	
	
	
	<!-- ********* -->
	<!-- Couche BS -->
	<!-- ********* -->
	<bean id="authentificationBS" class="com.mrprez.gencross.web.bs.AuthentificationBS" scope="singleton">
		<property name="userDAO" ref="UserDAO"/>
		<property name="personnageDAO" ref="PersonnageDAO"/>
		<property name="roleDAO" ref="RoleDAO"/>
		<property name="mailResource" ref="MailResource"/>
	</bean>
	
	<bean id="personnageFactory" class="com.mrprez.gencross.disk.PersonnageFactory" scope="singleton"/>
    
	<bean id="personnageBS" class="com.mrprez.gencross.web.bs.PersonnageBS" scope="singleton">
		<property name="personnageFactory" ref="personnageFactory"/>
		<property name="personnageDAO" ref="PersonnageDAO"/>
		<property name="mailResource" ref="MailResource"/>
		<property name="userDAO" ref="UserDAO"/>
	</bean>
	
	<bean id="tableBS" class="com.mrprez.gencross.web.bs.TableBS" scope="singleton">
		<property name="personnageFactory" ref="personnageFactory"/>
		<property name="tableDAO" ref="TableDAO"/>
		<property name="personnageDAO" ref="PersonnageDAO"/>
		<property name="mailResource" ref="MailResource"/>
		<property name="userDAO" ref="UserDAO"/>
		<property name="paramDAO" ref="ParamDAO"/>
	</bean>
	
	<bean id="paramsBS" class="com.mrprez.gencross.web.bs.ParamsBS" scope="singleton">
		<property name="paramDAO" ref="ParamDAO"/>
	</bean>
	
	<bean id="personnageComparatorBS" class="com.mrprez.gencross.web.bs.PersonnageComparatorBS" scope="singleton"/>
	
	<bean id="exportBS" class="com.mrprez.gencross.web.bs.ExportBS" scope="singleton">
		<property name="templateFileResource" ref="TemplateFileResource"/>
		<property name="personnageDAO" ref="PersonnageDAO"/>
	</bean>
	
	<bean id="gcrFileBS" class="com.mrprez.gencross.web.bs.GcrFileBS" scope="singleton">
		<property name="personnageFactory" ref="personnageFactory"/>
		<property name="personnageDAO" ref="PersonnageDAO"/>
	</bean>
	
	<bean id="jobBS" class="com.mrprez.gencross.web.bs.JobBS" scope="singleton"/>
	
	<bean id="loggerBS" class="com.mrprez.gencross.web.bs.LoggerBS" scope="singleton"/>
	
	<bean id="planGameBS" class="com.mrprez.gencross.web.bs.PlanGameBS" scope="singleton">
		<property name="mailResource" ref="MailResource"/>
		<property name="tableDao" ref="TableDAO"/>
	</bean>
	
	<bean id="adminBS" class="com.mrprez.gencross.web.bs.AdminBS" scope="singleton">
		<property name="mailResource" ref="MailResource"/>
	</bean>
	
	<bean id="gencrossUiPackagerBS" class="com.mrprez.gencross.web.bs.GencrossUiPackagerBS" scope="singleton">
		<property name="personnageFactory" ref="personnageFactory"/>
	</bean>
	
	
	<!-- ********** -->
	<!-- Couche DAO -->
	<!-- ********** -->
	
	<bean id="UserDAO" class="com.mrprez.gencross.web.dao.UserDAO" scope="singleton">
		<property name="transactionManager" ref="txManager"/>
	</bean>
	
	<bean id="RoleDAO" class="com.mrprez.gencross.web.dao.RoleDAO" scope="singleton">
		<property name="transactionManager" ref="txManager"/>
	</bean>
	
	<bean id="PersonnageDAO" class="com.mrprez.gencross.web.dao.PersonnageDAO" scope="singleton">
		<property name="transactionManager" ref="txManager"/>
	</bean>
	
	<bean id="TableDAO" class="com.mrprez.gencross.web.dao.TableDAO" scope="singleton">
		<property name="transactionManager" ref="txManager"/>
	</bean>
	
	<bean id="ParamDAO" class="com.mrprez.gencross.web.dao.ParamDAO" scope="singleton">
		<property name="transactionManager" ref="txManager"/>
	</bean>
	
	<jee:jndi-lookup id="mailSenderSession" jndi-name="java:comp/env/mail/SenderSession"/>
	<jee:jndi-lookup id="mailReceiverSession" jndi-name="java:comp/env/mail/ReceiverSession"/>
	<bean id="mailAntiSamyPolicy" class="org.owasp.validator.html.Policy" factory-method="getInstance" scope="singleton">
		<constructor-arg value="classpath:antisamy.xml"/>
	</bean>
	<bean id="mailAntiSamy" class="org.owasp.validator.html.AntiSamy" scope="singleton">
		<constructor-arg ref="mailAntiSamyPolicy"/>
	</bean>
	<bean id="MailResource" class="com.mrprez.gencross.web.dao.MailResource" scope="singleton">
		<constructor-arg><ref bean="mailSenderSession"/></constructor-arg>
		<constructor-arg><ref bean="mailReceiverSession"/></constructor-arg>
		<property name="defaultFromAdress" value="genCrossBackup@mrprez.com"/>
		<property name="paramDAO" ref="ParamDAO"/>
		<property name="antiSamy" ref="mailAntiSamy"/>
	</bean>
	
	<bean id="TemplateFileResource" class="com.mrprez.gencross.web.dao.TemplateFileResource" scope="singleton"/>
	
	<bean id="SaveRepositoryResource" class="com.mrprez.gencross.web.dao.SaveRepositoryResource" scope="singleton"/>
	
	
	
</beans>