<?xml version="1.0" encoding="UTF-8"?>
<!-- Port d'administration du serveur, Mot à transmettre sur ce port pour étaindre le serveur et niveau de log du serveur (0=log max) --><Server port="9005" shutdown="LOVEANDDEATH">

	<!-- Il peut y avoir plusieurs services sur un même serveur -->
	<Service name="Catalina">
		
		<!-- http://tomcat.apache.org/tomcat-5.5-doc/config/http.html
			http://www-igm.univ-mlv.fr/~dr/XPOSE2003/tomcat/tomcat.php?rub=5&id=3
		-->
		<Connector connectionTimeout="20000" port="8181" protocol="HTTP/1.1" redirectPort="9443"/>
    
		<!-- An Engine represents the entry point (within Catalina) that processes
			 every request.  The Engine implementation for Tomcat stand alone
			 analyzes the HTTP headers included with the request, and passes them
			 on to the appropriate Host (virtual host).
			 Documentation at /docs/config/engine.html -->

		<!-- You should set jvmRoute to support load-balancing via AJP ie :
		<Engine name="Catalina" defaultHost="localhost" jvmRoute="jvm1">         
		--> 
		<Engine defaultHost="localhost" name="Catalina">

			<Realm className="org.apache.catalina.realm.JDBCRealm" connectionName="admin" connectionPassword="hlttclm" connectionURL="jdbc:hsqldb:file:M:/hsqldb/gencross" digest="MD5" driverName="org.hsqldb.jdbc.JDBCDriver" roleNameCol="role_name" userCredCol="digest" userNameCol="user_name" userRoleTable="USER_ROLES" userTable="USERS"/>
					
			<!-- Realm className="org.apache.catalina.realm.MemoryRealm"/ -->
					

      <!-- Define the default virtual host
           Note: XML Schema validation will not work with Xerces 2.2.
       -->
			<Host appBase="webapps" autoDeploy="true" name="localhost" unpackWARs="true" xmlNamespaceAware="false" xmlValidation="false">

        <!-- SingleSignOn valve, share authentication between web applications
             Documentation at: /docs/config/valve.html -->
        <!--
        <Valve className="org.apache.catalina.authenticator.SingleSignOn" />
        -->

        <!-- Access log processes all example.
             Documentation at: /docs/config/valve.html -->
        <!--
        <Valve className="org.apache.catalina.valves.AccessLogValve" directory="logs"  
               prefix="localhost_access_log." suffix=".txt" pattern="common" resolveHosts="false"/>
        -->

			<Context docBase="${workspace}\gencross-web\target\selenium\Catalina\wtpwebapps\gencross-web" path="/gencross-web" reloadable="true" source="org.eclipse.jst.jee.server:gencross-web">
	<Logger className="org.apache.catalina.logger.SystemOutLogger" timestamp="true" verbosity="4"/>
	
			
</Context></Host>
		</Engine>
	</Service>
</Server>