<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %d{dd/MM/yyyy HH:mm:ss,SSS} - %m (%c)%n" />
		</layout>
	</appender>
	
	<appender name="file" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="M:/GenCrossWeb.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %d{dd/MM/yyyy HH:mm:ss,SSS} - %m (%c)%n" />
		</layout>
	</appender>
	
	<appender name="null" class="org.apache.log4j.varia.NullAppender"/>
	
	
	<logger name="com.mrprez.gencross">
		<level value="TRACE"/>
		<appender-ref ref="file"/>
	</logger>
	
	<logger name="responseDelay">
		<level value="TRACE"/>
		<appender-ref ref="file"/>
	</logger>
	
	<logger name="com.mrprez.gencross.web.quartz">
		<level value="INFO"/>
		<appender-ref ref="file"/>
	</logger>

	<logger name="org.springframework">
		<level value="WARN"/>
		<appender-ref ref="file"/>
	</logger>
	
	<logger name="org.hibernate">
		<level value="WARN"/>
		<appender-ref ref="file"/>
	</logger>
	
	<logger name="com.opensymphony">
		<level value="WARN"/>
		<appender-ref ref="file"/>
	</logger>
	
	<logger name="freemarker">
		<level value="WARN"/>
		<appender-ref ref="file"/>
	</logger>
	
	<logger name="org.apache.struts2">
		<level value="ERROR"/>
		<appender-ref ref="file"/>
	</logger>
	
	<logger name="org.quartz">
		<level value="WARN"/>
		<appender-ref ref="file"/>
	</logger>
	
	<logger name="com.opensymphony.xwork2.interceptor">
		<level value="WARN"/>
		<appender-ref ref="file"/>
	</logger>
	
	
	<root>
		<level value="ERROR"/>
		<appender-ref ref="file"/>				  	  
	</root>
	
	
	
</log4j:configuration>